* {
    margin: 0;
    padding: 0;
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-size: normal;
}

body {
    background-color: var(--cor-fundo);

    overflow: hidden;
}

:root {
    --cor-principal: #8d4899;   
    --cor-secundaria: #381b3d;   
    --cor-fundo: #ffffff;        
    --cor-texto: #22001b; 
    --cor-texto-secundaria: #f7e5ff; 
}

.header {
    background-color: var(--cor-principal);
    display: flex;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
    border-bottom: 2px solid #d400ff;
    box-shadow: 0 1px 10px #c702ee;
    position: relative;
    z-index: 100;
}

.logo-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    gap: 15px
}

.logo-container h1 {
    font-size: 25px;
    font-weight: 1000;
    color: #ffffff;
}

.logo-container img {
    width: 35px;
}

.nav {
    width: 35%;
    display: flex;
    align-items: center;
}

.nav-item {
    display: flex;
    align-items: center;
    gap: 15px
}

.login {
    display: flex;
    align-items: center;
    gap: 15px
}

.nav ul {
    display: flex;
    width: 100%;
    justify-content: space-between;
    list-style: none;
    align-items: center;
}

.nav a {
    text-decoration: none;
    color: var(--cor-texto-secundaria);
    transition: 0.5s ease;
}

.nav a:hover {
    color: #e683ff;
}

.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../../assets/img/banner_login.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    position: relative;
}

.formulario_login {
    display: flex;
    width: 40vw;
    height: 50vh;
    align-items: center;
    flex-direction: column;
    position: absolute;
    background-color: var(--cor-texto-secundaria);
    opacity: 80%;
    border-radius: 12px;
}

.title {
    display: flex;
    margin-top: 30px;
    margin-bottom: 30px;
    flex-direction: column;
    color: var(--cor-texto);
    align-items: center;
}

.title span {
    color: #8d4899;
}

.title p {
    margin-top: 30px;
    color: var(--cor-texto);
}

input {
    width: 20vw;
    height: 3vh;
    margin-top: 5px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: none;
}

label {
    color: var(--cor-secundaria);
}

button {
    margin-top: 10px;
    width: 10vw;
    height: 5vh;
    font-size: 15px;
    border-radius: 5px;
    border: none;
    color: white;
    background-color: #22001b;
}

.link_cadastro {
    margin-top: 15px;
    color: #381b3d;
}

.link_cadastro a {
    color: var(--cor-secundaria);
}

.link_cadastro a:hover {
    color: var(--cor-principal);
}