* {
    margin: 0;
    padding: 0;
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-size: normal;
}

body {
    background-color: var(--cor-fundo);

    overflow: hidden;
}

:root {
    --cor-principal: #8d4899;   
    --cor-secundaria: #381b3d;   
    --cor-fundo: #ffffff;        
    --cor-texto: #22001b; 
    --cor-texto-secundaria: #f7e5ff; 
}

.header {
    position: fixed;
    width: 99vw;
    background-color: var(--cor-principal);
    border-bottom: 2px solid #d400ff;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
}

.nav {
    width: 35%;
    display: flex;
    align-items: center;
}

.login {
    display: flex;
    align-items: center;
    gap: 15px
}

.nav ul {
    display: flex;
    width: 100%;
    justify-content: space-between;
    list-style: none;
    align-items: center;
}

.nav a {
    text-decoration: none;
    color: var(--cor-texto-secundaria);
    transition: 0.5s ease;
}

.nav a:hover {
    color: #e683ff;
}

.logo-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    gap: 15px
}

.logo-container h1 {
    font-size: 25px;
    font-weight: 1000;
    color: #ffffff;
}

.logo-container img {
    width: 35px;
}

.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../../assets/img/banner_login.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
}

.formulario_cadastro {
    display: flex;
    width: 1000px;
    padding: 30px 0px;
    align-items: center;
    flex-direction: column;
    background-color: var(--cor-texto-secundaria);
    opacity: 90%;
    border-radius: 12px;
}

.title {
    display: flex;
    margin-top: 30px;
    margin-bottom: 30px;
    flex-direction: column;
    color: var(--cor-texto);
    align-items: center;
    font-size: 50px;
}

.title span {
    font-size: 36px;
    color: #8d4899;
}

.title p {
    margin-top: 30px;
    color: var(--cor-texto);
}

input {
    width: 310px;
    height: 38px;

    margin-top: 5px;
    margin-bottom: 10px;
    border-radius: 7px;

    padding: 0px 20px;


    border: 1px solid #686565;
}

input:focus {
    outline: none;
    border-color: #cd18ff;
}

.container_inputs {
    display: flex;
    flex-direction: column;
}

#divSenha {
    font-size: 12px;
    width: 280px;
    text-align: left;

}

label {
    color: var(--cor-secundaria);
}

button {
    margin-top: 10px;
    width: 20vw;
    height: 50px;
    font-size: 15px;
    font-weight: bolder;
    text-transform: uppercase;
    border-radius: 10px;
    border: none;
    color: white;
    background-color: #22001b;
}

button:hover {
    cursor: pointer;
}

.link_cadastro {
    margin-top: 15px;
    color: #381b3d;
}

.link_cadastro a {
    color: var(--cor-secundaria);
}

.link_cadastro a:hover {
    color: var(--cor-principal);
}